<form action="/attractions/<%= @attraction.id %>" method="POST">
  <label for="name">Name:</label>
  <input required type="text" name="name" value="<%=@attraction.name%>">

  <label> Select the city: </label>
    <select required name="city_id">
      <option select disabled value="">Please select a city</option>
      <% for city in @cities %>
      <option <%= "selected" if @attraction.city == city %>  value="<%= city.id %>"> <%= city.name %> </option>
      <% end %>
    </select>


    <button type="submit" value="Update Atrraction">Update Attraction</button>
</form>
