<h2><%= @country.name %></h2>

<ul>
  <% for city in @country.view_cities %>
  <li><a href="/cities/<%= city.id %>"> <%=city.name%> </a></li>
  <% end %>
</ul>

<div>
<form action="/countries/<%= @country.id %>/delete" method="POST">
<button type="submit" delete ="delete">Delete</button>
</form>

<a class="button edit-button" href="/countries/<%= @country.id %>/edit">Edit</a>
</div>
