<form action="/cities/<%= @city.id %>" method="POST">
  <label for="name">Name:</label>
  <input required type="text" name="name" value="<%=@city.name%>">

  <label>Select the country:</label>
    <select required name="country_id" id="country-id">
      <% for country in @countries %>
        <option <%= "selected" if @city.country == country %> value="<%= country.id %>"><%= country.name %></option>
      <% end %>
    </select>

    <label>Have you visited</label>
    <label>Yes</label>
      <input <% if @city.visit == 't' %> checked = "checked" <% end %> type="radio" name="visit" value="true">

      <label>Not yet</label>
      <input <% if @city.visit == 'f' %> checked = "checked" <% end %> type="radio" name="visit" value="false">

  <button type="submit" value="Update City">Update City</button>
</form>
