<a href="/cities/new">Add City</a>
<% for city in @cities %>
<div>
<table>
  <th>Visited?</th>
  <tr>
    <td>Visited</td>
  </tr>
  <% if city.visit === "t" %>
  <tr>
    <td><a href="/cities/<%= city.id %>"><%= city.name %></a></td>
  </tr>
  <% elsif city.visit === "f"  %>
  <tr>
    <td><a href="/cities/<%= city.id %>"><%= city.name %></a></td>
  </tr>
  <h3><a href="/cities/<%= city.id %>/attractions">Attractions</a></h3>
  <% end %>
</table>

</div>
<% end %>
